/* body{
    background-color: #1E202B;
} */
.navbar-toggler {
    color: transparent;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 50%;
    transition: var(--bs-navbar-toggler-transition);
}
/* .navbar-toggler:hover {
    color: transparent;
    background-color: transparent;
    border: 2px solid #007B8F;
    border-radius: 50%;
    transition: 0.3s;
} */
.navbar-toggler span i {
    transition: 0.3s;
}
.navbar-toggler:hover span i {
    color: #007B8F !important;
}

::placeholder {
    color: #75755D !important; 
    size: 12px !important;
  }

.text-blue{
    color: #1E7BD8;
}

nav{
    background-color: #1E202B !important;
}


.logo{
    width: 70px;
    height: 40px;
}

.logo-p{
    font-size: 11px;
    line-height: 15px;
    color: #ffffffb6 !important;
}



.my-nav-ul li a{
    transition: 0.5s;
}
.my-nav-ul li:hover a{
    color: #009AD8 !important;
}

.my-nav-ul li{
    transition: 0.3s ease;
    border: 1px solid transparent;
    border-radius: 20px 20px 20px 20px;
}
.my-nav-ul li:hover{
    border: 1px solid #009AD8;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    border: 1px solid #009AD8;
    border-radius: 20px 20px 20px 20px;
    color: #009AD8 !important;

}






.text-head{
    font-size: 60px;
}
/*************************************************************************/

.my-background{
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-color: #1E202B;
    box-sizing: 100% 1000%;
}


.location-search{
    background-color: #1E202B;
    border-radius: 25px 25px 25px 25px !important; 

}
.search-btn{
    background-color: #009AD8;
}

.location{
    top: 70px;
    border-radius: 25px 25px 25px 25px;
}

.form-control {

    background-color:#1E202B ;
    border: var(--bs-border-width) solid #1E202B;
    color: #fff !important;
    border: var(--bs-border-width) solid transparent;
}

.form-control:focus {

    background-color:#1E202B ;
    border: 0px solid transparent;
    outline:  transparent !important;
    box-shadow: none;

}

/*****************************************************/
.first-day-title{
border-radius: 7px 0px 0px 0px;
}
.first-day{
    border-radius: 0px 0px 0px 7px;

}
.third-day-title{
border-radius: 0px 7px 0px 0px;
}
.third-day{
    border-radius: 0px 0px 7px 0px;

}
.seconde-day{
    background-color: #262936;
    color: #BFC1BF;
}
.seconde-day-title{
    background-color: #222530;
    color: #BFC1BF;
}
.first-day-title ,.third-day-title{
    background-color: #2D303D;
    color: #BFC1BF;
}
.first-day , .third-day{
    background-color: #323544;
    color: #BFC1BF;

}
.degree{
    font-size: 70px !important;
}
.degree-container img{
    width: 70px;
    height: 70px;
}
.card-contant img{
    width: 22px !important;
    height: 22px;
}
.card{
    border: none;
    background-color: #262936;
}

.card-body{
    height: 290px;
}

.sun-moon{
    width: 45px;
    height: 45px;
}

/************************************************************/
footer{
    background-color: #262936;
}
.sub-search{
    width: 65%;
}

.social i{
    width: 45px;
    height: 45px;
    background-color: #1E202B;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #007B8F;
    transition: 0.5s;
    cursor: pointer;
}
.social i:hover{

    background-color: #009AD8;

    color: #fff;
}

footer p{
    color: #BFC1C8 !important;
}

@media screen and (max-width:991px)  {
    .footer-contant{
        display: flex;
        flex-direction: column;
    }
    .sub-search{
        width: 95%;
        margin-bottom: 23px;
    }
    
    footer p{
        font-size: 14px;
    }
    
    .small-screen-links{
        background-color: #262936;

    }
    /* .small-screen-links ul{
        text-align: center;
    } */
    .navbar-nav .nav-link.active, .navbar-nav .nav-link.show a {
        border: none;
        border-bottom: 1px solid #8f8f8f2a;
        border-radius: 0px 0px 0px 0px;
        color: #009AD8 !important;
    }
    .nav-link {
        border: none;
        border-bottom: 1px solid #8f8f8f2a;
        border-radius: 0px 0px 0px 0px;
        color: #Fff ;
        padding: 15px 0 !important;
    }
    .last-link{
        border: none;
        border-bottom: none;
        border-radius: 0px 0px 0px 0px;
        color: #Fff ;
    }

    .my-nav-ul li{
        transition: 0.3s ease;
        border: none !important;
    
    }

}

@media screen and (max-width:415px)  {

    .fDayConatct{
        display: flex;
        
    }
    .fDayConatct p{
        font-size: 40px !important;
    }
    .degree-container img {
        width: 60px;
        height: 60px;
    }

    
}

/*********************************/

.search-btn {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    overflow: hidden;
    background: #12bbd4;
    color: rgb(0, 62, 85) !important;
   }
   
   .search-btn span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    font-size: 16px;
   }
   
   .search-btn:hover span {
    color: #fff !important;
   }
   
   .search-btn::before,
   .search-btn::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
   }
   
   .search-btn::before {
    content: "";
    background: #628892;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
   }
   
   .search-btn:hover::before {
    transform: translate3d(100%, 0, 0);
   }
 
   /************************************************/
   #checkbox {
    display: none;
  }
  
  .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
    transition-duration: .5s;
  }
  .navbar-toggler {
    width: fit-content;
    border: none;
    border-radius: 0%;
    padding: 0px;
}
  .bars {
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
  }
  
  #bar2 {
    transition-duration: .8s;
  }
  
  #bar1,#bar3 {
    width: 70%;
  }
  
  #checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
  }